#aboutUs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("Aboutus.jpg");
    background-size: cover;

    transition: background-color 0.6s ease;
}

.head {
    background-image: url('header.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 1em;
    transition: background-color 0.6s ease;
}

.head:hover {
    background-color: #45a049;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.6;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    
}

section:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.AboutUsPage h1, h2 {
    color: #333;
    font-family: 'Arial Black', sans-serif;
    transition: color 0.3s ease;
}

section:hover h1, section:hover h2 {
    color: #2c3e50;
}

p {
    color: #555;
    margin-bottom: 15px;
    font-size: 16px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

section:hover p {
    color: #333;
    font-size: 17px;
}
.about-us {
    margin-top: 30px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.about-us:hover {
    background-color: #e6e6e6;
}
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}