h1{
font-family:league spartan;
text-transform:uppercase;
font-size:55px;
text-align:center;
color:#ffa511;
letter-spacing:2px;
font-weight:900;
text-decoration:teal double underline;
line-height: 1.5;
}
